<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
      {{msg}}
    </p>
  </div>

  <form #customerForm="ngForm">
    <input type="text"  name="custId"    id="custId"   #custId   placeholder="custId"  [(ngModel)]="customer.custId"/><br/>
    <input type="text"  name="dotyId_DocumentType"    id="dotyId_DocumentType"   #dotyId_DocumentType   placeholder="dotyId_DocumentType"  [(ngModel)]="customer.dotyId_DocumentType"/><br/>
    <input type="email" name="email"      id="email"    #email    placeholder="Email"   [(ngModel)]="customer.email"/><br/>
    <input type="text"  name="name"       id="name"     #name     placeholder="Name"    [(ngModel)]="customer.name"/><br/>
    <input type="text"  name="address"    id="address"  #address  placeholder="Address" [(ngModel)]="customer.address"/><br/>
    <input type="text"  name="phone"      id="phone"    #phone    placeholder="Phone"   [(ngModel)]="customer.phone"/><br/>
    <input type="text"  name="token"      id="token"    #token    placeholder="Token"   [(ngModel)]="customer.token"/><br/>
    <input type="text"  name="enable"     id="enable"   #enable   placeholder="Enable"  [(ngModel)]="customer.enable"/><br/>
    <br/>
    <button (click)="save()">Save</button>
    <button routerLink="/customer-list">Cancel</button>
  </form>